body{
  overflow:hidden;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.zipper{
  width:100%;
  height:100%;
}

svg {
  position: absolute;
}

.zipHandle{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
